{% extends "base.html" %}
{% load catalog_filters %}
{% block site_wrapper %}
		<div id="page">
			<div id="sidebar" class="alignleft">
				{% category_list request.path %}
			</div>
			<div id="main" class="alignleft">
				<!--content begin-->
				<div id="content">
					<h2 class="textleft">Ваша корзина</h2>
						<table border="0" cellpadding="0" cellspacing="0" class="textleft" id="basket_prod">
							{% for item in cart_items %}
							<tr>
								<td rowspan="3" style="padding:0 15px" class="basket_img"><img height="80px" src="{{ item.product.modelsphoto_set.all.0.image.thumb_url }}"/></td>
								<td class="basket_name">{{ item.product.category }} {{ item.product }}</td>
								<td class="textright"><a href="#"><img src="{{ MEDIA_URL }}images/delete.png"/></a></td>
							</tr>
							<tr>
								<td colspan="2" class="maker"><a href="#">{{ item.product.brand }}</a></td>
							</tr>
							<tr>
								<td colspan="2" class="basket_discript">
								 <p>{{ item.product.mini_html_description|safe }}</p>
								</td>
							</tr>
							{% endfor %}
						</table>
					<div class="clr"></div>	
					<div id="seo_block">
						<h1>Наши преимущества</h1>
						<h4>Мы предлагаем комплексное оснащение ресторанов, кафе, баров, столовых.</h4>
						<p>Компания "СмартФриз" предлагает клиентам полный спектр товаров для общепита: профессиональное оборудование для ресторанов, столовых, баров, кафе, предприятий фаст-фуда, широкий ассортимент посуды, инвентаря и мебели. В реализуемых проектах по комплексному оснащению объектов общепита технологи компании используют только надежное ресторанное оборудование от ведущих российских и иностранных производителей. Ассортимент постоянно расширяется за счет новых марок и моделей, появляющихся на российском и мировом рынках оборудования для общепита.</p>
					</div>		
					

{% endblock %}