				<ul id='sidebar_menu'>
					<h2>Каталог товара</h2>
					{% for section in sections %}
                    {% if section.get_absolute_url == request_path %}
                    <li> <a href="{{ section.get_absolute_url }}" title="" class="active">{{ section.name }}</a>
                    {% else %}
                    <li> <a href="{{ section.get_absolute_url }}" title="">{{ section.name }}</a>
                    {% endif %}
						<ul>
							{% for category in section.category_set.all %}
			                    <li>
                                    {% if category.get_absolute_url == request_path %}
                                    <a href="{{ category.get_absolute_url }}" title="" class="active">{{ category.name }}</a>
                                    {% else %}
			                        <a href="{{ category.get_absolute_url }}" title="">{{ category.name }}</a>
                                    {% endif %}
			                    </li>
			                {% endfor %}
						</ul>
					</li>					
					{% endfor %}
					<li> <a href="/cats/all-goods" title="">Все товары</a>
				</ul>