{% extends "base.html" %}
{% load catalog_filters %}
{% block site_wrapper %}
		<div id="page">
			<div id="sidebar" class="alignleft">
				{% category_list request.path %}
			</div>
			<div id="main" class="alignleft">
				<!--content begin-->
				<div id="content">
					<div id="special_price">
						<h1>О нас</h1>
							<p>ООО &laquo;СмартФриз&raquo;</p>
							<p>Юридический адрес: 125414 Москва, ул. Клинская д. 4, корп. 2, стр. 3</p>
							<p>ОГРН: 1117746111889</p>
							<p><strong>Тел:</strong>+7 (495) 729-23-83</p>
							<div class="clear"></div>
					</div>
<!--					<div id="seo_block">
						<h4>Мы предлагаем комплексное оснащение ресторанов, кафе, баров, столовых.</h4>
						<p>Компания "СмартФриз" предлагает клиентам полный спектр товаров для общепита: профессиональное оборудование для ресторанов, столовых, баров, кафе, предприятий фаст-фуда, широкий ассортимент посуды, инвентаря и мебели. В реализуемых проектах по комплексному оснащению объектов общепита технологи компании используют только надежное ресторанное оборудование от ведущих российских и иностранных производителей. Ассортимент постоянно расширяется за счет новых марок и моделей, появляющихся на российском и мировом рынках оборудования для общепита.</p>
					</div>
					-->
{% endblock %}
