{% extends "base.html" %}
{% load catalog_filters %}
{% block site_wrapper %}
		<div id="page">
			<div id="sidebar" class="alignleft">
				{% category_list request.path %}
			</div>
			<div id="main" class="alignleft">
				<!--content begin-->
				<div id="content">
					{% for product in products %}
					<div class="pdtable_block">
						<table border="0" cellpadding="0" cellspacing="0" class="product_dscr_table textleft">
							<tr>
								<td class="img_block">
										<a href="{{ product.get_absolute_url }}"><img src="{{ product.modelsphoto_set.all.0.image.thumb_url }}"/></a>
								</td>
								<td colspan="5" class="dscr">
									<a href="{{ product.get_absolute_url }}"><h4> {{ category.name }} {{ product.name }}</h4></a>
									<a href="{{ product.brand.get_absolute_url }}">{{ product.brand }}</a></br>
									</br>
									<p>{{ product.mini_html_description|safe }}</p>
								</td>
							</tr>
						</table>
						<table border="0" cellpadding="0" cellspacing="0" class="product_dscr_table textleft">
							
							<tr class="first_row">
								<td>МОДЕЛИ</td>
								{% for feature in product.feature_set.all %}
                            		<td>{{ feature.name }}</td>
                       	 		{% endfor %}
                       	 		<td></td>
							</tr>
								{% for model in product.model_set.all  %}
									<tr class="features">
						        		<td style="font-weight:bold">{{ model.name }}</td>
                                        {% for item in model.value_set.all %}
                                            <td class="textcenter values">{{ item.value }}</td>
                                        {% endfor %}
                                        <td class="values"> 
						        			<form method="post" action="" class="cart textcenter"> {% csrf_token %}
									    		<input type="hidden" name="model_id" value="{{ model.id }}" id="{{ model.id }}" />
									    		<input type="submit" value=" " class="btn"/>
									  		</form>
									  	</td>
                                    </tr>
						    	{% endfor %}
						    	
						</table>
					</div>
					{% endfor %}
					
					<div id="seo_block">
						<h1>Наши преимущества</h1>
						<h4>Мы предлагаем комплексное оснащение ресторанов, кафе, баров, столовых.</h4>
						<p>Компания "СмартФриз" предлагает клиентам полный спектр товаров для общепита: профессиональное оборудование для ресторанов, столовых, баров, кафе, предприятий фаст-фуда, широкий ассортимент посуды, инвентаря и мебели. В реализуемых проектах по комплексному оснащению объектов общепита технологи компании используют только надежное ресторанное оборудование от ведущих российских и иностранных производителей. Ассортимент постоянно расширяется за счет новых марок и моделей, появляющихся на российском и мировом рынках оборудования для общепита.</p>
					</div>
{% endblock %}



