{% load catalog_filters %}
{% category_list request.path %}
Специальная цена:<br>
{% for item in special_price %}
    {{ item.name }} - Название<br>
    {{ item.get_absolute_url }} - URL<br>
    {{ item.model_set.all.0.price }} - Цена<br>
    {{ item.modelsphoto_set.all.0.image.thumb_url }} - Фото<br>
{% endfor %}<br>
Лидеры продаж:<br>
{% for item in bestsellers %}
    {{ item.name }} - Название<br>
    {{ item.get_absolute_url }} - URL<br>
    {{ item.model_set.all.0.price }} - Цена<br>
    {{ item.modelsphoto_set.all.0.image.thumb_url }} - Фото<br>
{% endfor %}<br>
