{% extends "base.html" %}
{% load catalog_filters %}
{% block site_wrapper %}
		<div id="page">
			<div id="sidebar" class="alignleft">
				{% category_list request.path %}
			</div>
			<div id="main" class="alignleft">
				<!--content begin-->
				<div id="content">
<!--					<div id="special_price">
						<h1>Специальная цена</h1>
						<div id="special_slider_block">
							<div id="special_slider_left" class="alignleft">
								<div id="arrow_block_left"></div>
							</div>
							<div id="special_slider_mid" class="alignleft">
								<div id="special_slider_line">
									{% for item in special_price %}
									<div class="special_slider_product alignleft">
										<div class="special_slider_product_name">
											<a href=' {{ item.get_absolute_url }}'>{{ item.category }} {{ item.name }} {{ item.brand }}</a>
										</div>
										<a href=' {{ item.get_absolute_url }}'><img src="{{ item.modelsphoto_set.all.0.image.thumb_url }}" class="special_slider_product_image"/></a>
										<div class="special_slider_product_price">
											{{ item.model_set.all.0.price }} руб.
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
							<div id="special_slider_right" class="alignleft">
								<div id="arrow_block_right"></div>
							</div>
						</div>
					</div>
					-->
					<div id="best_sellers">
						<h1>Лидеры продаж</h1>
						{% for item in bestsellers %}
						<div class="best_product alignleft">
							<div class="product_name">
								<a href="{{ item.get_absolute_url }}">{{ item.category }} {{ item.name }} {{ item.brand }}</a>
							</div>
							<a href="{{ item.get_absolute_url }}"><img src="{{ item.modelsphoto_set.all.0.image.thumb_url }}" class="product_image"/></a>
							<div class="product_price">
                            <form method="post" action="" class="cart"> {% csrf_token %}
                                <input type="hidden" name="product_slug" value="{{ item.slug }}" id="{{ item.id }}" />
                                <input class="buy_button" type="submit" name='submit'  value=" " />
                            </form>
								<span>В корзину</span>
							</div>
						</div>	
						{% endfor %}						
						<div class="clr"></div>												
					</div>
<!--					<div id="seo_block">
						<h4>Мы предлагаем комплексное оснащение ресторанов, кафе, баров, столовых.</h4>
						<p>Компания "СмартФриз" предлагает клиентам полный спектр товаров для общепита: профессиональное оборудование для ресторанов, столовых, баров, кафе, предприятий фаст-фуда, широкий ассортимент посуды, инвентаря и мебели. В реализуемых проектах по комплексному оснащению объектов общепита технологи компании используют только надежное ресторанное оборудование от ведущих российских и иностранных производителей. Ассортимент постоянно расширяется за счет новых марок и моделей, появляющихся на российском и мировом рынках оборудования для общепита.</p>
					</div>
					-->
{% endblock %}
