{% extends "base.html" %}
{% load catalog_filters %}
{% block site_wrapper %}
		<div id="page">
			<div id="sidebar" class="alignleft">
				{% category_list request.path %}
			</div>
			<div id="main" class="alignleft">
				<!--content begin-->
				<div id="content">
					<h2>{{ section.name }}</h2>
					{% for cat in cats %}
						<div class="cats_prew_block alignleft">
							<div class="cats_prew">
								<div class="image_block">
									<img src="{{ cat.image.thumb_url }}"/>
								</div>
								<div class="cats_prew_name">
									<a href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>
								</div>
							</div>
							<div class="cats_prew_marks">
								{% for brand in cat.get_brands %}
                                    {% if forloop.last %}
                                        <a href="{{ cat.get_absolute_url }}{{ brand.get_absolute_url }}">{{ brand.name }}</a>
                                    {% else %}
                                        <a href="{{ cat.get_absolute_url }}{{ brand.get_absolute_url }}">{{ brand.name }}</a>,
                                    {% endif %}
							    {% endfor %}
							</div>
						</div>
					{% endfor %}
					<div class="clr"></div>	
					<div id="seo_block">
						<h1>Наши преимущества</h1>
						<h4>Мы предлагаем комплексное оснащение ресторанов, кафе, баров, столовых.</h4>
						<p>Компания "СмартФриз" предлагает клиентам полный спектр товаров для общепита: профессиональное оборудование для ресторанов, столовых, баров, кафе, предприятий фаст-фуда, широкий ассортимент посуды, инвентаря и мебели. В реализуемых проектах по комплексному оснащению объектов общепита технологи компании используют только надежное ресторанное оборудование от ведущих российских и иностранных производителей. Ассортимент постоянно расширяется за счет новых марок и моделей, появляющихся на российском и мировом рынках оборудования для общепита.</p>
					</div>		
{% endblock %}
