{% extends "myadmin/base.html" %}
{% block site_wrapper %}
{% load date_tags %}
<div id="allsales_block">
	<div id="menu_block">
		<table cellpadding="0" cellspacing="0" border="0" class="menu">
			<td rowspan="2">
			    <a href="/myadmin/sales/all/" >Клиенты</a>
			</td>
            <td rowspan="2">
			    <a href="/myadmin/tasks/" >Задачи</a>
			</td>
		</table>
		<div class="autent">
		{{ request.user }}
		    <a href="/myadmin/logout/">Выйти</a>
		</div>
	</div>
	<div id="selector_block">
	<div class="hidden">
			<form action="" method="post">{% csrf_token %}
					<table id="selector_table" cellspacing="0" cellpadding="0" border="0">
						<tr>
								<td>
									<label for="id_status_0">
									<input class="first" id="id_status_0" type="checkbox" value="PROCESS" name='status'
									{% for i in statuses %}
										{% if i == "PROCESS" %}
									    	checked="checked"
									    {% endif %}
									{% endfor %}
									>
									{% status_count "PROCESS" %}
									</label>
								</td>
							</tr>
							<tr>
								<td>
									<label for="id_status_10">
									<input class="fird" id="id_status_10" type="checkbox" value="REFUSED" name="status"
									{% for i in statuses %}
										{% if i == "REFUSED" %}
									    	checked="checked"
									    {% endif %}
									{% endfor %}
									>
	                                {% status_count "REFUSED" %}
									</label>
								</td>
							</tr>
							<tr>
								<td>
								<label for="id_status_11">
								<input class="fird" id="id_status_11" type="checkbox" value="CASH_IN" name="status"
								{% for i in statuses %}
										{% if i == "CASH_IN" %}
									    	checked="checked"
									    {% endif %}
									{% endfor %}
									>
                                {% status_count "CASH_IN" %}
								</label>
								</td>
							</tr>
							<tr>
								<td>
								<label for="id_status_9">
								<input class="first" class="fird" id="id_status_9" type="checkbox" value="CONTACT_AT" name="status"
								{% for i in statuses %}
										{% if i == "CONTACT_AT" %}
									    	checked="checked"
									    {% endif %}
									{% endfor %}
									>
                                {% status_count "CONTACT_AT" %}
								</label>
								<td>
						</tr>
					</table>
					<input type="submit" value="Выбрать" class="selectbutton" /><br/><br/>
					<a href="/myadmin/sales/all/" class="selectbutton">Все клиенты</a>
			</form>
		</div>
	</div>
<div id="period">
	<span>
		{% date_tags request.path %}
	</span>
	<a href="/myadmin/sales/today/">За сегодня</a>
	<a href="/myadmin/sales/week/">За неделю</a>
	<a href="/myadmin/sales/month/">За месяц</a>
	<a href="/myadmin/sales/year/">За год</a><br>	
</div>
<table id="allsales" cellpadding="5px" cellspacing="0">
	<tr>
	<td class="addclientbtn" colspan="2">
	    <a href="/myadmin/client/add" target="_blank">Добавить клиента</a>
	</td>
		<td colspan="8">
			<div class="pagination alignright">
			    <span class="step-links">
			        {% if clients.has_previous %}
			            <a href="?page={{ clients.previous_page_number }}">&laquo;</a>
			        {% endif %}
			
			        <span class="current">
			            {{ clients.number }} из {{ clients.paginator.num_pages }}
			        </span>
			
			        {% if clients.has_next %}
			            <a href="?page={{ clients.next_page_number }}">&raquo;</a>
			        {% endif %}
			    </span>
			</div>
		</td>
	</tr>
	<tr class="head_row ">
		<td class="rightborder">
			ID
		</td>
        <td>
            Статус
        </td>
        <td>
            Имя
        </td>
        <td>
            Телефон
        </td>
        <td>
            Компания
        </td>
		<td>
			Заказ
		</td>
        <td></td>
	</tr>
	{% for client in clients.object_list %}
	<tr class="clientinfo">
		<td rowspan="2" class="bottomborder rightborder">
			{{ client.id }}
		</td>
        <td rowspan="2" class="bottomborder rightborder">
            {{ client.get_status_display }}
        </td>
        <td class="bottomborder rightborder">
		{{ client.surname }} {{ client.name }} {{ client.patronymic }}
        </td>
        <td class="bottomborder rightborder">
            {{ client.phone }}
        </td>
    		<td class="bottomborder rightborder">
			{{ client.company }}
		</td>
		<td class="bottomborder rightborder">
			{{ client.order|safe }}
		</td>
        <td rowspan="2" class="bottomborder">
			<a href="/myadmin/client/{{ client.id }}/" target="_blank"><img src="/static/res/img/edit.png"/></a>
		</td>
	</tr>
	<tr class="clientadress">

		<td colspan="7" class="bottomborder rightborder">
			{% if client.city %}{{ client.city }};{% endif %} {% if client.address %} {{ client.address }}; {% endif %} {% if client.postcode %}Индекс: {{ client.postcode }}{% endif %}
            {% if client.comment %}<br>
                --------------<br>
                {{ client.comment }}
            {% endif %}
		</td>
	</tr>
	{% endfor %}
	<tr>
		<td colspan="10">
			<div class="pagination alignright">
			    <span class="step-links">
			        {% if clients.has_previous %}
			            <a href="?page={{ clients.previous_page_number }}">&laquo;</a>
			        {% endif %}
			
			        <span class="current">
			            {{ clients.number }} из {{ clients.paginator.num_pages }}
			        </span>
			
			        {% if clients.has_next %}
			            <a href="?page={{ clients.next_page_number }}">&raquo;</a>
			        {% endif %}
			    </span>
			</div>
		</td>
	</tr>
</table>
<form action="" method="post">{% csrf_token %}


</div>

{% endblock %}

