html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	font-family: Verdana;
}
.alignleft{
	float:left;
}
.alignright{
	float:right;
}
.textleft{
	text-align: left;
}
.textright{
	text-align: right;
}
.textcenter{
	text-align: center;
}
.clr{
	clear: both;
}
body{
	background: white;
}
#wrapper{
	margin: 0 auto;
	width:990px;
	background: white;
	color: #666666;
}
#header{
}
#left_head{
	width:250px;
	height: 180px;
}
#logotype{
	margin: 40px 0 0 25px;
}
#right_head{
	padding: 2px 0 0 59px;
}
#basket_box{
	width:600px;
	height: 26px;
	background: #0783b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:white;
	font-size: 100%;
	vertical-align: baseline;
	text-align: center;
}
#basket_box{
	font-size: 13px;
	line-height: 26px;
	font-weight: lighter;
}
#basket_box i{
	display: block;
	background: url('images/basket_in_link.png') left top no-repeat;
	width:134px;
	height: 17px;
	margin-top: 5px;
}
#basket_box p{
	margin-left:150px;
}
/*#basket_box span{
	overflow: hidden;
	display: inline-block;
	width:137px;
	height: 17px;
	background: url('images/basket_in_link.png') left top no-repeat;
}*/
#basket_in_link{
	width:134px:
	height:17px;
	color: white;
	text-decoration: none;
	font-size: 12px;
	display: inline-block;
}
#head_info{

}
#head_info .info{
	width: 380px;
	font-family: Georgia;
	font-style: italic;
	color: #0783b3;
	font-size: 13px;
	text-align: center;
	padding: 20px 0;
	line-height: 13px;
}
#head_info .phone{
	padding: 20px 0;
	font-family: Georgia;
	font-style: italic;
	font-weight: bold;
	font-size: 13px;
	color: #b1b1b1;
}
#head_info .phone span{
	font-family: Georgia;
	font-size: 26px;
}
#menu{
	clear: both;
	font-family: Georgia;
	font-style: italic;
	font-weight: bold;
}
#menu li{
	display: inline;
	list-style: none;
	padding-left: 40px;
}
#menu li a{
	font-family: Georgia;
	color:#666666;
	font-size: 20px;
	text-decoration: none;
}
#menu li a:hover{
	color: #ff7200;
}
#searchform{
	margin-top:30px;
}
#searchform #s{
	height:25px;
	width:535px;	
	padding: 0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 1px solid #b1b1b1;
	border-right: none;
	padding-left: 15px;
	font-style: italic;
	color: #b1b1b1;
	outline: none;
}
#searchform .go{
	background: none;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border: 1px solid #b1b1b1;
	border-left: none;
	width: 50px;
	height:27px;
	cursor: pointer;
	background: url('images/search.gif') no-repeat top left;
}
#page{
 clear: both;
 padding-top: 40px;
}
#sidebar{
	width: 235px;
}
#sidebar_menu{
	padding: 0 0 0 20px;
}
#sidebar_menu h2{
	margin: 0 0 20px 15px;
	color:#278cbd;
	font-family: Georgia;
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
}
#sidebar_menu li{
	list-style: none;
	padding:0 0 17px 17px;
	background: url('images/first_arrow.gif') 0 5px no-repeat;
	color:#666;
	line-height: 13px;
}
#sidebar_menu li ul{
	padding-top: 20px;
	display: none;
}
#sidebar_menu .active span{
	color:#288ab1;
	font-weight: 700;
	font-size: 14px;
}
#sidebar_menu .active ul{
	display: block;
}
#sidebar_menu li ul li{	
	background: url('images/second_arrow.gif') 0 5px no-repeat;
}
#sidebar_menu li a{
	color:#666;
	font-size: 13px;
	text-decoration:none;
}
#sidebar_menu li a:hover{
	color:#278cbd;
	text-decoration: underline;
}
#main{
	width: 755px;
}
#special_price{
	text-align: center;
}
#content{
	padding: 0 20px;
	text-align: center;
}
#content h1{
	margin: 0 0 20px 15px;
	color:#278cbd;
	font-family: Georgia;
	font-style: italic;
	font-weight: 700;
	font-size: 24px;
}
#content h2{
	margin: 0 0 20px 15px;
	color:#278cbd;
	font-family: Georgia;
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
}
#content h4{
	color: #666666;
	margin-bottom: 20px;
	font-size: 13px;
	font-weight: bold;
}
#special_slider_block{
	width:715px;
	height: 220px;
	background: url('images/sb_gradient.jpg') top left repeat-x;
}
#special_slider_left, #special_slider_right{
	width:60px;
	height:220px;
	position: relative;
}
#special_slider_left{
	background: url('images/sb_left.jpg') top left no-repeat;
}
#special_slider_right{
	background: url('images/sb_right.jpg') top left no-repeat;
}
#arrow_block_left, #arrow_block_right{
	position: absolute;
	top:95px;
	width:33px;
	height: 30px;
	cursor: pointer;
}
#arrow_block_left{
	left:0px;
	background: url('images/sb_arrow_left.png') 5px 0px no-repeat;
}
#arrow_block_left:hover{
	background-position: 0 0;
}
#arrow_block_right{
	right:0px;
	background: url('images/sb_arrow_right.png') top left no-repeat;
}
#arrow_block_right:hover{
	background-position: 5px 0;
}
#special_slider_mid{
	width:595px;
	height: 220px;
	overflow:  hidden;
	position: relative;
}
#special_slider_line{
	height: 220px;
	position: absolute;
	left:0;
}
#special_slider_mid .special_slider_product{
	height: 220px;
	width: 198px;
}
#special_slider_mid .special_slider_product_name{
	height: 35px;
	padding-top: 5px;
	color: white;
	font-size:12px;
	font-weight: 700;
}
#special_slider_mid .special_slider_product_name a{
	color: white;
}
#special_slider_mid .special_slider_product_name a:hover{
	color: #ff7200;
}
#special_slider_mid .special_slider_product_image{
	border: 3px solid #d6d6d6;
	height: 130px;
	max-width: 190px;
}
#special_slider_mid .special_slider_product_price{
	color:white;
	font-family: Georgia;
	font-style: italic;
	font-weight: 700;
	font-size:18px;
	padding-top: 10px;
	letter-spacing: 1px;
}
#best_sellers{
	text-align: center;
	padding: 30px 60px 0;
}
#best_sellers .best_product{
	width:198px;
	height: 240px;
	text-align: center;
	border-bottom: 1px dotted #d7d7d7; 
	margin-bottom: 15px;
}
#best_sellers .best_product .product_name{
	margin: 0 15px;
	width: 176px;
	height: 30px;
	position: relative;
	font-size: 12px;
	color: #1885b8;
	line-height: 14px;
}
#best_sellers .best_product .product_name a{
	color: #1885b8;
}
#best_sellers .best_product .product_name .b_arrow{
	display: block;
	width:14px;
	height: 9px;
	position: absolute;
	left: 78px;
	bottom:-9px;
	background: url('images/best_arrow_bot.gif') top left no-repeat;
}
#best_sellers .best_product .product_image{
	height: 140px;
	margin-top: 10px;
	max-width: 170px;
	margin-bottom: 10px;
}
#best_sellers .best_product .product_price{
	border: 1px solid #d7d7d7;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	width: 174px;
	height: 30px;
	margin: 0 11px;
	position: relative;
}
#best_sellers .best_product .product_price .buy_button{
	position: absolute;
	width: 50px;
	height: 32px;
	display: block;
	right:-1px;
	top:-1px;
	overflow: hidden;
	border: none;
	background: url('images/best_buy_button.png') bottom left no-repeat;
	cursor: pointer;
}
#best_sellers .best_product .product_price .buy_button:hover{
	background-position: left top;
}
#best_sellers .best_product .product_price span{
	margin-right: 50px;
	color:#1885b8;
	font-family: Georgia;
	font-style: italic;
	font-weight: 700;
	font-size:18px;
	line-height: 28px;
}
#best_sellers .best_product .buy_button{
	display: block;
	width: 50px;
	height: 32px;
}
#content .cats_prew_block{
	width: 173px;
	font-size: 10px;
	color:#278cbd;
	border-bottom: 1px dotted #d7d7d7;
	margin-bottom: 25px;
}
#content .cats_prew_marks{
	height: 50px;
	margin: 0 4px;
}
#content a{
	text-decoration: none;
}
#content a:hover{
	text-decoration: underline;
}
#content .cats_prew{
	width: 165px;
	height: 163px;
	background: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	margin: 0 4px 5px;
}
#content .cats_prew_block a{
	color:#278cbd;
	text-decoration: none;
}
#content .cats_prew_block a:hover{
	color:#ff7200;
	text-decoration: underline;
}
#content .cats_prew .image_block{
	position: absolute;
	bottom: 40px;
	left: 0;
	overflow: hidden;
	width: 165px;
}
#content .cats_prew .image_block img{
	max-width: 155px;
	max-height: 117px;
}
#content .cats_prew .cats_prew_name{
	position: absolute;
	bottom:0;
	left: 0;
	text-align: center;
	width: 165px;
	color: white;
	font-family: Georgia;
	font-style: italic;
	font-weight: 700;
	font-size: 13px;
	line-height: 13px;
	height: 30px;
}
#content .cats_prew .cats_prew_name a{
	font-family: Georgia;
	color: #0783b3;
}
#content .prew_blik{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 163px;
	width: 140px;
	background: url('images/cas_prew_blik.png') top left no-repeat;
}
#basket_prod{
	width: 100%;
	margin-bottom: 10px;
}
#basket_prod .basket_discript{
	padding-bottom: 30px;
	border-bottom: 1px dotted #d7d7d7;
	font-size:11px;
	padding-top: 25px;
	color: #535353;
}
#basket_prod .basket_img{
	border-bottom: 1px dotted #d7d7d7;
}
#basket_prod .basket_name{
	color:#ff7200;
	font-size: 12px;
	padding-top: 10px;
}
#basket_prod .maker{
	color:#0783b3;
	font-size: 11px;
}
#basket_prod .maker a{
	color:#0783b3;
}
.basket_back, .basket_price{
	padding: 5px 0 5px 20px;
	border-bottom: 1px dotted #d7d7d7;	
	font-style: italic;
	font-weight: 700;	
}
.basket_back a, .basket_price a{
	font-size: 13px;
	color:#0783b3;
	font-family: Georgia;
}
.basket_back{
	background:url('images/backarrow.png') 1px 6px no-repeat;
}
.basket_price{
	width: 80px;
	background:url('images/pricearrow.png') 1px 6px no-repeat;
	padding-left: 25px;
}
.basket_back a:hover, .basket_price a:hover{
	color:#ff7200;
}
.product_dscr_table .img_block{
	width: 120px;
	vertical-align: top;
}
.product_dscr_table img{
	width: 200px;
	margin: 0 10px;
}
#content .product_dscr_table h4{
	color: #ff7200;
	margin: 0;
	font-size: 15px;
}
#content .product_dscr_table h4:hover{
	text-decoration: underline;
}
.pdtable_block{
	position: relative;
	margin-bottom: 40px;
}
.product_dscr_table{
	position: relative;
	border-bottom: 1px dotted #b6b6b6;
	margin-bottom: 1px;
}
.product_dscr_table .dscr{
	padding-bottom: 28px;
}
.product_dscr_table .dscr a{
	color: #0783b3;
	font-size: 12px;
}
.product_dscr_table .dscr p{
	font-size: 12px;	
}
.product_dscr_table .dotted_border_bottom{
	height: 2px;
	border-bottom: 1px dotted #b6b6b6;	
}
.product_dscr_table .first_row td{
	padding: 7px;
	background: #e9e9e9 url('images/first_row.gif') bottom left repeat-x;
	font-size: 12px;
	color: #535353;
	font-weight: 700;
	text-align: center;
}
.product_dscr_table .cart{
	padding: 3px 5px;
}
.product_dscr_table .cart .btn{
	width: 24px;
	height: 24px;
	background: white url('images/in_basket.gif') 2px 2px no-repeat;
	border-color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
}
.product_dscr_table .features td{
	font-size: 12px;
	padding: 3px 5px;
}
.product_dscr_table .features .values{
	border-left: 1px solid #b6b6b6;
}
#seo_block h1, #seo_block h3, #seo_block h2,  #seo_block h4{
	text-align: center;
}
#seo_block{
	font-size: 12px;
	text-align: justify;
	font-weight: lighter;
	border-bottom: 1px dotted #d7d7d7;
	padding-bottom: 30px;
}
#footer{
	padding: 30px 15px;
	font-size: 12px;
	text-align: justify;
	font-weight: lighter;
	text-align: center;
}
.wpsc_checkout_table th{
	font-size: 12px;
	text-align: right;
}
.wpsc_checkout_forms p{
	font-size: 12px; 
}
.wpsc_checkout_table td{
	padding: 2px 0;
}
.wpsc_checkout_table input, .wpsc_checkout_table textarea{	
	border: 1px solid #b6b6b6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 2px 0px 0px 5px;
}
input.make_purchase{
	background: url("images/pricearrow.png") no-repeat scroll 1px 6px transparent;
    width: 130px;
    height: 25px;
    color:#0783b3;
	font-family: Georgia;
	font-size: 13px;
	font-style: italic;
	font-weight: 700;
	border: none;
	border-color: white;
	cursor: pointer;
}
input.make_purchase:hover{
	color: #ff7200;
	text-decoration: underline;
}
td.basket_back{
    border-bottom: 1px dotted #D7D7D7;
    font-style: italic;
    font-weight: 700;
    padding: 5px 0 5px 20px;
}
.remove_button{
	color: white;
	background: #ff0400;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-color: #ff0400;
	cursor: pointer; 
}
.adjustform #quantity{
	margin: 0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	height: 16px;
}
.adjustform .update{
	margin: 0;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	height: 22px;
	background: #0783b3;
	border-color: #0783b3;
	color: white;
	cursor: pointer;
}